.client_all_count_title{
    display: flex;
    margin: 10px;
}

.client_all_count_title_size{
    font-size: 3em;
}

.button_setting{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.select_page {
    text-align: center;
}