.control_head{
    display: inline-block;
    margin: 10px 0 0 0;
   
}

.button_position{
    display: flex;
    justify-content: flex-end;
    margin : 10px 0;
   
}

#client_control{
    margin-right: 5px;
}