#card{
    padding: 0px;
    justify-content: center; 
    display: flex;
}
#gallaryheader{
    margin-top: 10px;
    padding: 30px;
    padding-bottom: 10px;
    /* border: solid 1px black; */
    width: 1200px;
}
#gbutton{
    margin-left: 22px;
    display: flex;
    justify-items: right;
    align: right;   
}
#card{
    padding: 0px;
    justify-content: center; 
    display: flex; 
}