.myPage_button {
    background: linear-gradient(to right, #ffa7a3, #5673bd); 
    padding: 0.5em 1em; 
    font-size: 19px; 
    border-radius: 3px; 
    color: #ffffff;
    margin-right: 10px;
}
.a { text-decoration:none } 