<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- 
<mapper namespace="com.koreadeal.web.dao.LoginDao">
	
	<select id="userBean" resultType="com.koreadeal.web.model.UserBean">
		select
			* 
		from
			user_mst
	</select>
	<select id="getUser_id" resultType="String">
		select * from user_mst;
	</select>
	
	<select id="getUser_pwd" resultType="String">
		select seq from user_mst;
	</select>
	
	<select id="getBlockdata" resultType="String">
		select name from user_mst where seq = #{seq};
	</select>
	
</mapper>


<mapper namespace="com.koreadeal.web.dao.LoginDAO"/>
	<select resultType="com.koreadeal.web.model.UserBean">
		select
			* 
		from
			user_mst
	</select>
	
	<select id="getBorderDtl" resultType="com.spring.mvc.model.beans.BorderBean">
		select * from border_mst where border_code = #{border_code};
	</select>
	
	<insert id="insertBorder" parameterType="com.spring.mvc.model.beans.BorderBean">
		insert into 
			border_mst 
		values(
			0, 
			#{border_title},
			#{border_content},
			#{border_file},
			#{border_tempfile},
			#{writer_name},
			#{writer_ip},
			now(),
			0,
			now(),
			now()
		);
	</insert>
	
</mapper>

 -->
